.form {
  display: flex;
  border-radius: 20px;
  color: #828282;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 75%;
  font-size: 1.2em;
  border-radius: 20px;
  margin: 2%; 
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

.sendButton {
  color: black !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #FAFF1A;
  display: inline-block;
  border: none;
  width: 18%;
  height: 65%;
  border-radius: 20px;
  text-align: center;
  margin: 3%;
}