.form {
  display: flex;
  color: #828282;
}

.sendButton {
  color: black !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #ffff00;
  display: inline-block;
  border: none;
  width: 15%;
  height: 50%;
  border-radius: 50px;
  text-align: center;
  margin: 1% 2%;
  z-index: 12; 
}

.input {
  border: none;
  border-radius: 0;
  padding: 3%;
  width: 75%;
  font-size: 1em;
  border-radius: 50px;
  margin: 1% 2% 2% 2%;
  height: 10%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

@media (min-width: 320px) and (max-width: 680px) {
  .input {
    height: 70%;
  }

  .sendButton {
    height: 70%;
  }

}