.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #612d98;
  border-radius: 4px 4px 0 0;
  height: 20px;
  width: 100%;
  border-radius: 20px;
  padding: 2% 0;
  font-size: 0.8em;
}

.leftInnerContainer {
  flex: 0.5;
  display: flex;
  align-items: center;
  margin-left: 5%;
  color: #fff;
}

.rightInnerContainer {
  display: flex;
  flex: 0.5;
  justify-content: flex-end;
  margin-right: 5%;
}

.onlineIcon {
  margin-right: 5%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .infoBar {
    height: 10%;
    font-size: .5rem;
  }


}

@media (min-width: 480px) and (max-width: 680px) {
  .infoBar {
    height: 10%
  }
}
