.everythingContainer {
  background-color: #ffff00;
  /* z-index: -1; */
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.heading {
  background-size: auto 60vh;
  align-items: center;
  width: 10rem;
  padding: 2rem;
  font-size: xx-large;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: none !important;
  color: black !important;
  width: 30%;
}

.subheading {
  z-index: 3;
  padding-top: 4.5rem;
  padding-left: 5rem;
  right: 10%;
  font-size: xx-large;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 58%;
}

.outerContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #612d98;
  border-radius: 10px;
  height: 70%;
  width: 80%;
}

.box {
  position: absolute;
  z-index: 1;
  left: 35%;
  right: 10%;
  top: 7rem;
  background: #612d98;
  border-radius: 5px;
  font-size: 150%;
  height: 20px;
  margin-left: 100px;
}

.vertical {
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: 800px;
  height: 50px;
  margin: 350px 350px 350px 1000px;
  color: #ffff00;
  background-color: black;
  border: 10px solid black;
  transform: rotate(-30deg);
  font-size: x-large;
}

@media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .heading {
    width: 80%;
  }

  .subheading {
    display: none;
  }

  .box {
    display: none;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container {
    width: 80%;
  }

  .heading {
    width: 50%;
  }

  .subheading {
    display: none;
  }

  .box {
    display: none;
  }

  .vertical {
    width: 600px;
    height: 43px;
  }
}
