.everythingContainer {
  background-color: #ffff00;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.chat-heading {
  background-size: auto 60vh;
  align-items: center;
  padding: 2rem;
  font-size: 3vw;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: none !important;
  color: black !important;
  width: 40%;
}

.subheading {
  z-index: 3;
  padding-top: 5.5rem;
  /* justify-content: right; */
  /* padding-left: 10rem; */
  /* right: 40%; */
  font-size: 2.5vw;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 40%;
  text-decoration-thickness: 8px;
  text-decoration-color: #612d98;
  text-decoration-line: underline;
  padding-bottom: 2%;
}

.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  justify-content: space-around;
  background: #612d98;
  border-radius: 10px;
  height: 80%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 320px) and (max-width: 425px) {
  .headingContainer {
    height: 9%;
  }

  .subheading {
    padding-top: 2.8rem;
    width: 45%;
    text-decoration-thickness: 4px;
  }

  .chat-heading {
    width: 50%;
  }

  .container {
    width: 95%;
  }
}

@media (min-width: 426px) and (max-width: 480px) {
  .headingContainer {
    height: 10.5%;
  }

  .subheading {
    padding-top: 2.8rem;
    width: 45%;
    text-decoration-thickness: 4px;
  }

  .chat-heading {
    width: 50%;
  }

  .container {
    width: 95%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .subheading {
    padding-top: 4rem;
    text-decoration-thickness: 6px;
  }

  .container {
    width: 90%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .subheading {
    padding-top: 4.2rem;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .subheading {
    padding-top: 4.3rem;
  }
}

/* 320px — 480px for mobile devices, 
481px — 768px for iPads & tablets, 
769px — 1024px for small screens like laptop, 
1025px — 1200px for large screens like Desktops, 
and 1201px and above for extra large screens like TV. */

/* .box {
  position: absolute;
  z-index: 1;
  left: 35%;
  right: 10%;
  top: 7rem;
  background: #612d98;
  border-radius: 5px;
  font-size: 8vw;
  height: 20px;
  margin-left: 100px;
  width: 47%;
} */

/* 
.vertical {
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: max-content;
  height: 50px;
  margin: 400px 350px 350px 1200px;
  color: #ffff00;
  background-color: black;
  border: 10px solid black;
  transform: rotate(-30deg);
  font-size: x-large;
  opacity: 60%;
} */

/* @media (min-width: 320px) and (max-width: 370px) {
  .container {
    justify-content: center;
    margin: auto;
    height: 88%;
  }

  .everythingContainer {
    background-color: #ffff00;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@media (min-width: 370px) and (max-width: 420px) {
  .container {
    justify-content: center;
    margin: auto;
    height: 88%;
  }

  .everythingContainer {
    background-color: #ffff00;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

@media (min-width: 320px) {
  .everythingContainer {
    width: 100%;
    height: 100%;
  }

  .headingContainer {
    height: 12%;
    width: 100%;
  }

  .chat-heading {
    overflow: visible;
    margin-left: -20px;
    margin-bottom: 20px;
    margin-top: -4%;
    font-size: 2.5vw;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .subheading {
    display: flex;
    font-size: 2.8vw;
    padding-top: 14vw;
    padding-bottom: 5%;
    padding-left: 10%;
    white-space: nowrap;
    text-decoration-thickness: 8px;
    text-decoration-color: #612d98;
    text-decoration-line: underline;
  }
}

@media (min-width: 768px) and (max-width: 968px) {
  .container {
    justify-content: center;
    margin: auto;
    height: 88%;
  }

  .chat-heading {
    font-size: 3vw;
  }

  .subheading {
    text-decoration-thickness: 8px;
    text-decoration-color: #612d98;
    text-decoration-line: underline;
  }
}

@media (min-width: 968px) and (max-width: 1024px) {
  .container {
    justify-content: center;
    margin: auto;
    height: 88%;
  }

  .chat-heading {
    font-size: xx-large;
  }

  .subheading {
    padding-top: 5.5rem;
    display: flex;
  }
}

/* MacBook Pro 14' */
/* @media (min-width: 1440px) {
  .subheading {
    padding-top: 5.5rem;
  }
}  */
