.everythingContainer {
  background-color: #ffff00;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.headingContainer {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.chat-heading {
  background-size: auto 60vh;
  align-items: center;
  padding: 2rem;
  font-size: xx-large;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: none !important;
  color: black !important;
  width: 30%;
}

.subheading {
  z-index: 3;
  padding-top: 5.5rem;
  padding-left: 5rem;
  right: 10%;
  font-size: xx-large;
  font-weight: bold;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 58%;
}

.outerContainer {
  display: flex;
  justify-content: center;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #612d98;
  border-radius: 10px;
  height: 70%;
  width: 80%;
}

.box {
  position: absolute;
  z-index: 1;
  left: 35%;
  right: 10%;
  top: 7rem;
  background: #612d98;
  border-radius: 5px;
  font-size: 150%;
  height: 20px;
  margin-left: 100px;
}

.vertical {
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  width: max-content;
  height: 50px;
  margin: 400px 350px 350px 1200px;
  color: #ffff00;
  background-color: black;
  border: 10px solid black;
  transform: rotate(-30deg);
  font-size: x-large;
  opacity: 60%;
}

@media (min-width: 320px) and (max-width: 768px) {
  .everythingContainer {
    width: 100%;
    height: 100%;
  }

  .headingContainer {
    height: 12%;
    width: 100%;
  }

  .chat-heading {
    align-items: flex-start;
    font-size: 8px;
    overflow: visible;
    white-space: nowrap;
    margin-left: -20px;
    margin-top: 10px;
    font-size: medium;
  }

  .container {
    width: 100%;
    height: 100%;
  }

  .chat-heading {
    width: 80%;
    word-wrap: normal;
  }

  .subheading {
    display: none;
  }
  .box {
    display: none;
  }
}

@media (min-width: 769px) {
  .container {
    justify-content: center;
    margin: auto;
    height: 80%;
  }
}

@media (min-width: 1440px) {
  .subheading {
    padding-top: 4.5rem;
  }
}
